body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flex-none {
  flex: none !important;
}

section.mantine-Modal-content{
  flex: none !important;
}

.mantine-Modal-header{
  background-color: #0c68b4 !important;
  color: #fff !important;
}

.mantine-Modal-header svg{
  color: #fff !important;
}