// .flexnone {
//   display: flex;
//   justify-content: center;
// }
.flexBox {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  gap: 40px;
}
.box1 {
  width: calc(60% - 20px);
  padding: 0px 15px;
}
.box2 {
  display: flex;
  width: calc(40% - 20px);
  padding: 15px;
  justify-content: center;
}

// .icon {
//   padding-top: 25px;
// }
// .boxx {
//   padding-top: 15px;
// }
// .wrap {
//   background-color: #f44336;
//   width: 37px;
//   height: 37px;
//   border-radius: 50%;
//   border: #f44336;
//   margin-top: -10px;
// }

.footer {
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
}

.btnGoogle {
  width: 170px !important;
  height: 40px !important;
  border-radius: 5px;
  span {
    font-size: 15px;
    font-weight: 500;
  }
}

.btnGoogle > div > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox {
  margin: 40px 0px;
}
.root {
  position: relative;
  margin-top: 5px;
}

.input {
  height: 35px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom-width: 2px;
  border-radius: 0;
  padding-left: 0 !important;
  background-color: var(--mantine-color-body);
  &:focus-within {
    padding-left: 0 !important;
    outline: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    animation: border-flash 5s infinite;
  }

  input {
    padding-left: 0 !important;
    &:focus-within {
      outline: transparent;
      border-color: transparent;
    }
  }
}

.label {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 5px;
  color: var(--mantine-color-placeholder);
  font-weight: 400;
  font-size: 15px;
  transition: color 100ms ease, transform 100ms ease, font-size 100ms ease;

  &[data-floating] {
    transform: translateY(-30px);
    font-size: 15px;
    color: var(--mantine-color-text);
  }
}

.button {
  cursor: pointer;
  margin: 2% 0;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  border: none;
  background: repeating-linear-gradient(
    to right,
    rgb(0, 247, 255),
    rgb(0, 132, 255)
  );
}
.button:active {
  cursor: pointer;
  background: repeating-linear-gradient(
    to left,
    rgb(0, 247, 255),
    rgb(0, 132, 255)
  );
}
@keyframes border-flash {
  0% {
    border-bottom-color: rgb(0, 247, 255);
    border-width: 2px;
  }
  25% {
    border-bottom-color: rgb(0, 132, 255);
    border-width: 2px;
  }
  50% {
    border-bottom-color: rgb(183, 2, 255);
    border-width: 2px;
  }
  75% {
    border-bottom-color: rgb(0, 132, 255);
    border-width: 2px;
  }
  100% {
    border-bottom-color: rgb(0, 247, 255);
    border-width: 2px;
  }
}
