.box {
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 0;
  width: 100%;
  border-bottom: 3px solid #d2171b;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #d2171b;
}
