.hoverBox {
  margin: -10px;
  background-color: #fff;
  min-height: 150px;
  border: 1px solid #243a76;
  width: 300px;
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 10px;
  border-radius: 8px;
  font-size: 12px;
}

.name {
  padding: 15px 10px;
  font-size: 14px;
  line-height: 16px;
  min-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;

  background: linear-gradient(to right, #243a76, #ed1b24);
  color: #fff;
  border-radius: 8px 8px 0 0;
  font-weight: 600;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
}

.tableBox {
  padding: 10px;
  color: black;
  width: 100%;

  table {
    width: 100%;
    tr {
      display: table-row;
      vertical-align: inherit;
      unicode-bidi: isolate;
      border-color: inherit;

      td {
        display: table-cell;
        vertical-align: inherit;
        unicode-bidi: isolate;
        padding: 5px 0px;
      }
    }
  }
}

.specifications {
  padding: 10px;
}
.present {
  padding: 10px;
}
.title {
  font-weight: 700;
  border-radius: 8px;
  color: white;
  padding: 0px 10px;
  width: fit-content;
  background-color: #243a76;
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 5px;
}
.specTable {
  width: 378px;
  color: black;
}
.warranty {
  color: black;
  word-break: keep-all;
}

.mapFormat {
  display: flex;
  gap: 5px;
  margin: 5px 0px;
  align-items: center;
}
.sumary {
  color: black;
  word-break: keep-all;
  padding: 10px 0px;
}
