.box {
  padding: 15px 0 15px 0;
  width: 100%;
  border-bottom: 3px solid #d2171b;
}

.title {
  color: #d2171b;
  display: block;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.table td {
  border: solid 1px #ccc;
  padding: 10px;
  vertical-align: middle;
}

.thead {
  background: #d2171b;
  color: #fff;
  white-space: nowrap;
}

.image {
  width: 100%;
  height: auto;
}

.promotion {
  color: #d2171b;
  p {
    font-size: 13px;
  }
}

.btnBack {
  cursor: pointer;
  display: inline-block;
  background: #666362;
  min-width: 200px;
  padding: 15px 20px;
  border-radius: 3px;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  margin: 15px 0;
  height: 53px;
  &:hover {
    opacity: 0.9;
  }
}

.btnConfirm {
  cursor: pointer;
  display: inline-block;
  background: #d2171b;
  min-width: 200px;
  padding: 15px 20px;
  border-radius: 3px;
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;

  &:hover {
    opacity: 0.9;
  }
}
