.box {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 45px;
  display: grid;
  align-items: center;
  grid-template-columns: 36% 11% 11% 11% 11% 11% 11%;
  gap: 5px;
  // position: sticky;
  // top: 122px;
  border-top: 1px dashed #bdd0e0;
}

.smallbox3 {
  padding-top: 20px;
  color: #ee4d2d;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}
.smallbox3 > p {
  padding-left: 10px;
  color: #0052cc;
}
