.boxCategories {
    flex-wrap: wrap;
    .linkCategory {
        background-color: #E3EEFF;
        border: 1px solid #BDCBE3;
        padding: 0 20px;
        font-size: 14px;
        color: #1F2123;
        line-height: 36px;
        border-radius: 6px;
    }
}