.container {
  padding: 25px;
  background: #fff;
  border-radius: 0 10px 10px 10px;
  padding: 2%;
  box-sizing: border-box;
  border-top: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}
.title {
  color: #243a76;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}
.icon {
  color: #ed1b24;
  margin: 0px 10px;
}
.shippingProcess {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.shippingIcon > svg {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.shippingStepTittle {
  margin-top: 0;
  color: #ed1b24;
  font-size: 1.3em;
  font-weight: 700;
}
.shippingStepContent {
  font-size: 1em;
}
.shippingStepContent p {
  display: flex;
}
