.saleBackground {
  background-image: url("../../../assets//RecomentBackground.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.95);
  height: auto;
  border-radius: 12px;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tag > div > div > div > p {
  color: white;
}
.tag > div > div > div > svg {
  stroke: white;
  width: 20px;
  height: 30px;
}
.text {
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 30px;
  margin-top: 20px;
}
