.text {
  font-weight: 700;
  font-size: 22px;
}

.value {
  font-weight: 400;
  font-size: 22px;
}
.dele {
  p {
    font-size: 14px;
  }
  img {
    width: 13.91px;
    height: 17px;
  }
}
.deleteall > img {
  margin-right: 7px;
  margin-top: 1px;
}
